body {

    font-family: "Roboto", sans-serif;

}

@layer layout {

    .spanall {

        display: flex;
        justify-content: space-between;
        gap: 10px;

    }
}

@layer form {

    .wholeForm {
        background-color: #E5E4E2;
        color: black;
        border-radius: 10px;
        max-inline-size: 700px;
        margin-inline: auto;
    }

    h1 {

        text-align: center;
    }

    form {

        display: grid;
        justify-items: center;
        gap: 30px;
    }

    .group-form {

        display: grid;
    }


    .group-form:has([required]) label {

        display: flex;
        gap: 1ch;

        &::after {

            color: red;
            content: "*";
        }
    }

    input {
        border: 1px solid black;
        border-radius: 5px;
        padding: .75em 1.5em;
        margin-top: 10px;

    }

    fieldset {

        border: 0;
        padding: 0;
    }

    textarea {
        margin-top: 10px;
        padding: 50px;
        width: 300px;
        border-radius: 10px;

    }

    .message {

        margin-left: 100px;
        margin-top: 30px;
    }

    .submitbutton {

        padding: 10px;
        width: 100px;
        border-radius: 10px;
        margin-bottom: 40px;

    }

}